<section class="features">
  <ul class="features__list">
    <li class="features__item">
      <p class="features__title">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, ad.
      </p>
      <p class="features__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, et distinctio? Est repellat
        veritatis, a distinctio beatae sapiente nesciunt nulla?
      </p>
    </li>
    <li class="features__item features__item--main">
      <p class="features__title">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, ad.
      </p>
      <p class="features__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, et distinctio? Est repellat
        veritatis, a distinctio beatae sapiente nesciunt nulla?
      </p>
    </li>
    <li class="features__item">
      <p class="features__title">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, ad.
      </p>
      <p class="features__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, et distinctio? Est repellat
        veritatis, a distinctio beatae sapiente nesciunt nulla?
      </p>
    </li>
  </ul>
</section>
